@model ConsultationModel

<h2>Форма Реєстрації на Консультацію</h2>

<form method="post" asp-controller="Consultation" asp-action="Consultation">
    <div class="form-group">
        <label asp-for="Name">Ім'я прізвище:</label>
        <input asp-for="Name" class="form-control" placeholder="required field for input" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="Email">Email:</label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="ConsultationDate">Бажана дата консультації:</label>
        <input asp-for="ConsultationDate" type="date" class="form-control" />
        <span asp-validation-for="ConsultationDate" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label asp-for="SelectedProduct">Виберіть продукт для консультації:</label>
        <select asp-for="SelectedProduct" class="form-control">
            <option value="">Select a product</option>
            <option value="JavaScript">JavaScript</option>
            <option value="C#">C#</option>
            <option value="Java">Java</option>
            <option value="Python">Python</option>
            <option value="Основи">Основи</option>
        </select>
        <span asp-validation-for="SelectedProduct" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-primary">Зареєструватися</button>
</form>
