﻿@using AspNetMVC.Models
@{

    List<ProductModel> products = new List<ProductModel>();


    products.Add(new ProductModel { ID = 1, Name = "Продукт 1", Price = 10.99M });
    products.Add(new ProductModel { ID = 2, Name = "Продукт 2", Price = 19.99M });
    products.Add(new ProductModel { ID = 3, Name = "Продукт 3", Price = 5.49M });

}
<!DOCTYPE html>
<html>
<head>
    <meta content="width=device-width" />
    <title>Завдання</title>
    <link rel="stylesheet" href="~/css/style.css" />
</head>
<body>
    <div>
        @await Component.InvokeAsync("Product", new {products=products})
    </div>
    <div>
        @await Component.InvokeAsync("Weather", new {region="Odesa"})
    </div>
</body>
</html>